.matches {
  display: grid;
  grid-template-columns: 25% 1fr;
  height: 100%;
  width: 100%;
}

.matches__sidebar {
  padding: var(--spaceOuter);
}

.matches__content {
  padding: var(--spaceOuter);
  background: rgb(var(--rgbWhite) / 0.6);
}
